include wdwarfdate/Models/__init__.py
include wdwarfdate/Models/cooling_models/__init__.py
include wdwarfdate/Models/cooling_models/*.csv
include wdwarfdate/Models/MIST/__init__.py
include wdwarfdate/Models/MIST/*.csv